header {
    background-color: cadetblue;
    color: antiquewhite;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
article{
    background-color: cadetblue;
    color: antiquewhite;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
section {
    background-color: cadetblue;
    color: antiquewhite;
    font-size: 25px;
}
h1 {
    background-color: cadetblue;
    color: antiquewhite;
    font-size: 30px;
    margin: 0;
}
h2 {
    background-color: cadetblue;
    color: antiquewhite;
    font-size: 30px;
    margin: 0;
}